.header_container {
  background-color: #1976d2;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 40px;
}
.link {
  text-decoration: none;
}
.navList {
  display: flex;
}
.navItem {
}
.nav_authList {
  display: flex;
}
.nav_authItem {
}

.box_auth {
  display: flex;
}
